In [8]:
from sqlalchemy import create_engine
import pandas as pd

In [4]:
## create a pointer to your psql database

In [6]:
engine = create_engine("postgresql:///opportunity_youth") #sometimes this needs username, or passwords
#to access the DB

In [9]:
    ## import a psql tabel as a pandas DataFrame:


puma_names_df = pd.read_sql(sql = "SELECT * FROM puma_names_2010;", con = engine)

In [10]:
# inspect the results
puma_names_df.head()

,state_fips,state_name,cpuma0010,puma,geoid,gisjoin,puma_name
0,1,Alabama ...,1,100,100100,G01000100,"Lauderdale, Colbert, Franklin & Marion (Northe..."
1,1,Alabama ...,1,800,100800,G01000800,St. Clair & Blount Counties ...
2,1,Alabama ...,1,1400,101400,G01001400,"Walker, Marion (South & West), Fayette & Lamar..."
3,1,Alabama ...,1,1500,101500,G01001500,Tuscaloosa (Outer) & Pickens Counties--Northpo...
4,1,Alabama ...,1,1600,101600,G01001600,Tuscaloosa & Northport (Southeast) Cities ...